@model IEnumerable<dz3FlightsAPI.DB.Flight>
@{
    ViewData["Title"] = "List of flight";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time_Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time_Registration)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Registration)
            </td>
            <td>
                <a asp-action="EditFlight" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteFlight" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
